<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.mapper.CommentsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.bbs.domain.Comments">
        <result column="id" property="id"/>
        <result column="topic_id" property="topicId"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="like_num" property="likeNum"/>
        <result column="is_enabled" property="isEnabled"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <resultMap id="CommentResultMap" type="com.bbs.vo.comments.CommentsVo">
        <result column="id" property="commentId"/>
        <result column="content" property="content"/>
        <result column="username" property="commentUsername"/>
        <result column="avatar" property="commentUserAvatar"/>
        <result column="publish_hour_diff" property="commentPublishHour"/>
        <result column="like_num" property="likeNum"/>
        <collection property="imgList" ofType="com.bbs.vo.ImageDownloadVo" javaType="java.util.ArrayList" select="getImages"
                    column="id">
        </collection>
    </resultMap>

    <select id="getImages" resultMap="com.bbs.mapper.ImagesMapper.ImageDownloadUrlResultMap">
        select id,download_url from images
        where comment_id=#{id} and is_deleted=0
    </select>

    <select id="selectByTopicId" resultMap="CommentResultMap">
        select
        a.id,a.content,a.like_num,
        b.username,b.avatar,
        TIMESTAMPDIFF(HOUR,a.created_time,now()) AS publish_hour_diff
        from comments a
        inner join user b on a.user_id = b.id
        <where>
            a.is_deleted=0 and a.is_enabled=0 and b.is_deleted=0
            and a.topic_id=#{topicId}
        </where>
    </select>

    <resultMap id="ManagerCommentsVoResultMap" type="com.bbs.vo.comments.ManagerCommentsVo">
        <result column="id" property="commentId"/>
        <result column="commentContent" property="commentContent"/>
        <result column="createdTime" property="createdTime"/>
        <result column="title" property="topicTitle"/>
        <result column="username" property="username"/>
        <collection property="imgs" ofType="com.bbs.vo.ImageDownloadVo" javaType="java.util.ArrayList" select="getImages"
                    column="id">
        </collection>
    </resultMap>
    <select id="pageQueryComments" resultMap="ManagerCommentsVoResultMap">
        select a.id as id,a.content as commentContent,a.created_time as createdTime,b.title,c.username
        from comments a
        inner join topic b on a.topic_id = b.id
        inner join user c on a.user_id = c.id
        <where>
            a.is_deleted=0 and b.is_deleted=0 and c.is_deleted=0
            <if test="dto.beginDate!=null">
                and a.created_time &gt;#{dto.beginDate}
            </if>
            <if test="dto.endDate!=null">
                and a.created_time &lt;#{dto.endDate}
            </if>
            <if test="dto.username!=null and dto.username!=''">
                and c.username like concat('%',#{dto.username},'%')
            </if>
        </where>
    </select>
</mapper>
